:root{
     --primary : #342e37;
     --secondary : #fcfbb4;
     --tertiary : #f3f9d2;
     --fourth : #f7fff7;

}




#app { height: 100% }
html,
body {
  position: relative;
  background-color: var(--fourth);
  height: 100%;
}

body {
  background-color: var(--primary);
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 70px;
 display: flex;
 justify-content: center;
 align-items: center;


}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  color: var(--secondary);
  font-family: "Karla";
}

.swiper-slide .subtitle {
  color: var(--secondary);
  font-family: "Karla";
 
}

.swiper-slide .text {
  color: var(--tertiary);
  font-family: "Karla";
  font-family: "Inconsolata";
 
}



.new{
  border: 2px solid black;
}

.one{
  /* border: 2px solid black; */
  perspective: 60rem;

}

.two{

  transition: rotate 400ms,scale 200ms;
}

.two:hover{
  rotate: y 15deg;
  /* scale: 1.05 */
}


.formcolor{
  color: var(--primary);
}

.toast-close-button {
  color: var(--secondary) !important; /* White color */
  background-color: transparent; /* Transparent background */
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.toast-progress-success {
  background-color: var(--secondary) !important; /* Green progress bar */
}

.form-bg{
  /* background-image: url('/src/assets/homeimage.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: left; */
  opacity: 80%;

}
